FrontEnds/src/Partners/DeterminaConfiguracionServicioService/DeterminaConfiguracionServicio.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-hudson-182-RC1. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-hudson-182-RC1. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://st.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://st.org/" name="DeterminaConfiguracionServicioService">
<wsp:UsingPolicy></wsp:UsingPolicy>
<wsp:Policy wsu:Id="DeterminaConfiguracionServicioPortBinding_ejecutaBPELConfiguracion_WSAT_Policy">
<wsp:ExactlyOne>
<wsp:All>
<ns1:ATAlwaysCapability xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/10/wsat" wsp:Optional="false"></ns1:ATAlwaysCapability>
<ns2:ATAssertion xmlns:ns3="http://schemas.xmlsoap.org/ws/2002/12/policy" xmlns:ns2="http://schemas.xmlsoap.org/ws/2004/10/wsat" ns3:Optional="true" wsp:Optional="true"></ns2:ATAssertion>
</wsp:All>
</wsp:ExactlyOne>
</wsp:Policy>
<wsp:Policy wsu:Id="DeterminaConfiguracionServicioPortBinding_ejecutaSTDinamico_WSAT_Policy">
<wsp:ExactlyOne>
<wsp:All>
<ns4:ATAlwaysCapability xmlns:ns4="http://schemas.xmlsoap.org/ws/2004/10/wsat" wsp:Optional="false"></ns4:ATAlwaysCapability>
<ns5:ATAssertion xmlns:ns6="http://schemas.xmlsoap.org/ws/2002/12/policy" xmlns:ns5="http://schemas.xmlsoap.org/ws/2004/10/wsat" ns6:Optional="true" wsp:Optional="true"></ns5:ATAssertion>
</wsp:All>
</wsp:ExactlyOne>
</wsp:Policy>
<wsp:Policy wsu:Id="DeterminaConfiguracionServicioPortBinding_determinaConfiguracion_WSAT_Policy">
<wsp:ExactlyOne>
<wsp:All>
<ns7:ATAlwaysCapability xmlns:ns7="http://schemas.xmlsoap.org/ws/2004/10/wsat" wsp:Optional="false"></ns7:ATAlwaysCapability>
<ns8:ATAssertion xmlns:ns9="http://schemas.xmlsoap.org/ws/2002/12/policy" xmlns:ns8="http://schemas.xmlsoap.org/ws/2004/10/wsat" ns9:Optional="true" wsp:Optional="true"></ns8:ATAssertion>
</wsp:All>
</wsp:ExactlyOne>
</wsp:Policy>
<wsp:Policy wsu:Id="DeterminaConfiguracionServicioPortBinding_ejecutaWebServiceDinamico_WSAT_Policy">
<wsp:ExactlyOne>
<wsp:All>
<ns10:ATAlwaysCapability xmlns:ns10="http://schemas.xmlsoap.org/ws/2004/10/wsat" wsp:Optional="false"></ns10:ATAlwaysCapability>
<ns11:ATAssertion xmlns:ns12="http://schemas.xmlsoap.org/ws/2002/12/policy" xmlns:ns11="http://schemas.xmlsoap.org/ws/2004/10/wsat" ns12:Optional="true" wsp:Optional="true"></ns11:ATAssertion>
</wsp:All>
</wsp:ExactlyOne>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://st.org/" schemaLocation="DeterminaConfiguracionServicio_xsd_1.xsd"></xsd:import>
</xsd:schema>
</types>
<message name="determinaConfiguracion">
<part name="parameters" element="tns:determinaConfiguracion"></part>
</message>
<message name="determinaConfiguracionResponse">
<part name="parameters" element="tns:determinaConfiguracionResponse"></part>
</message>
<message name="ejecutaBPELConfiguracion">
<part name="parameters" element="tns:ejecutaBPELConfiguracion"></part>
</message>
<message name="ejecutaBPELConfiguracionResponse">
<part name="parameters" element="tns:ejecutaBPELConfiguracionResponse"></part>
</message>
<message name="ejecutaWebServiceDinamico">
<part name="parameters" element="tns:ejecutaWebServiceDinamico"></part>
</message>
<message name="ejecutaWebServiceDinamicoResponse">
<part name="parameters" element="tns:ejecutaWebServiceDinamicoResponse"></part>
</message>
<message name="ejecutaSTDinamico">
<part name="parameters" element="tns:ejecutaSTDinamico"></part>
</message>
<message name="ejecutaSTDinamicoResponse">
<part name="parameters" element="tns:ejecutaSTDinamicoResponse"></part>
</message>
<portType name="DeterminaConfiguracionServicio">
<operation name="determinaConfiguracion">
<input message="tns:determinaConfiguracion"></input>
<output message="tns:determinaConfiguracionResponse"></output>
</operation>
<operation name="ejecutaBPELConfiguracion">
<input message="tns:ejecutaBPELConfiguracion"></input>
<output message="tns:ejecutaBPELConfiguracionResponse"></output>
</operation>
<operation name="ejecutaWebServiceDinamico">
<input message="tns:ejecutaWebServiceDinamico"></input>
<output message="tns:ejecutaWebServiceDinamicoResponse"></output>
</operation>
<operation name="ejecutaSTDinamico">
<input message="tns:ejecutaSTDinamico"></input>
<output message="tns:ejecutaSTDinamicoResponse"></output>
</operation>
</portType>
<binding name="DeterminaConfiguracionServicioPortBinding" type="tns:DeterminaConfiguracionServicio">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="determinaConfiguracion">
<wsp:PolicyReference URI="#DeterminaConfiguracionServicioPortBinding_determinaConfiguracion_WSAT_Policy"></wsp:PolicyReference>
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ejecutaBPELConfiguracion">
<wsp:PolicyReference URI="#DeterminaConfiguracionServicioPortBinding_ejecutaBPELConfiguracion_WSAT_Policy"></wsp:PolicyReference>
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ejecutaWebServiceDinamico">
<wsp:PolicyReference URI="#DeterminaConfiguracionServicioPortBinding_ejecutaWebServiceDinamico_WSAT_Policy"></wsp:PolicyReference>
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ejecutaSTDinamico">
<wsp:PolicyReference URI="#DeterminaConfiguracionServicioPortBinding_ejecutaSTDinamico_WSAT_Policy"></wsp:PolicyReference>
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="DeterminaConfiguracionServicioService">
<port name="DeterminaConfiguracionServicioPort" binding="tns:DeterminaConfiguracionServicioPortBinding">
<soap:address location="http://localhost:8081/DeterminaConfiguracionServicioService/DeterminaConfiguracionServicio"></soap:address>
</port>
</service>
</definitions>